<a href="https://colab.research.google.com/github/Sabir123556/Batch22_1506/blob/main/practicelab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Creating a dataset with missing values
import numpy as np
import pandas as pd
data = {
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita'],
'Age': [25, np.nan, 30, 28],
'Marks': [85, 90, np.nan, 92]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
# Detect missing values
print("\nCheck for Missing Values:")
print(df.isnull())

Original DataFrame:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  Kiran  30.0    NaN
3   Sita  28.0   92.0

Check for Missing Values:
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [3]:
# Drop rows with missing values
df_dropped = df.dropna()
print("After Dropping Rows with NaN:")
print(df_dropped)

After Dropping Rows with NaN:
   Name   Age  Marks
0  Ravi  25.0   85.0
3  Sita  28.0   92.0

In [5]:
# Fill missing values with a constant
df_filled = df.fillna(0)
print("Filled with 0:")
print(df_filled)
# Fill missing with mean of column
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Marks'] =df['Marks'].fillna(df['Marks'].mean())
print("\nFilled with Mean:")
print(df)

Filled with 0:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   0.0   90.0
2  Kiran  30.0    0.0
3   Sita  28.0   92.0

Filled with Mean:
    Name        Age  Marks
0   Ravi  25.000000   85.0
1   Neha  27.666667   90.0
2  Kiran  30.000000   89.0
3   Sita  28.000000   92.0

In [6]:
#Example: Removing Duplicates
import pandas as pd
data = {
'ID': [1, 2, 2, 3, 4, 4],
'Name': ['Ravi', 'Neha', 'Neha', 'Kiran', 'Sita', 'Sita'],
'Marks': [85, 90, 90, 78, 92, 92]
}
df = pd.DataFrame(data)
print("Original DataFrame with Duplicates:")
print(df)
# Remove duplicate rows
df_no_dup = df.drop_duplicates()
print("\nAfter Removing Duplicates:")
print(df_no_dup)

Original DataFrame with Duplicates:
   ID   Name  Marks
0   1   Ravi     85
1   2   Neha     90
2   2   Neha     90
3   3  Kiran     78
4   4   Sita     92
5   4   Sita     92

After Removing Duplicates:
   ID   Name  Marks
0   1   Ravi     85
1   2   Neha     90
3   3  Kiran     78
4   4   Sita     92

In [8]:
#data transforming
import pandas as pd
data = {
'ID': ['1', '2', '3', '4'],
'Marks': ['85', '90', '78', '92']
}
df = pd.DataFrame(data)
print("Original Data Types:")
print(df.dtypes)
# Convert to numeric
df['ID'] = pd.to_numeric(df['ID'])
df['Marks'] = pd.to_numeric(df['Marks'])
print("\nAfter Conversion:")
print(df.dtypes)


# Apply transformation - add 5 bonus marks
df['Marks'] = df['Marks'].apply(lambda x: x + 5)
print("After Adding Bonus Marks:")
print(df)

Original Data Types:
ID       object
Marks    object
dtype: object

After Conversion:
ID       int64
Marks    int64
dtype: object
After Adding Bonus Marks:
   ID  Marks
0   1     90
1   2     95
2   3     83
3   4     97

In [9]:
# Raw Student Data
student_data = {
'Student_ID': [101, 102, 102, 103, 104, 105],
'Name': ['Ravi', 'Neha', 'Neha', 'Kiran', 'Sita', None],
'Marks': [85, 90, 90, np.nan, 92, 88],
'Department': ['CSE', 'ECE', 'ECE', 'MECH', 'CSE', 'CSE']}
df = pd.DataFrame(student_data)
print("Original Data:")
print(df)

Original Data:
   Student_ID   Name  Marks Department
0         101   Ravi   85.0        CSE
1         102   Neha   90.0        ECE
2         102   Neha   90.0        ECE
3         103  Kiran    NaN       MECH
4         104   Sita   92.0        CSE
5         105   None   88.0        CSE